# Código fuente (usar LF siempre)
*.v      text eol=lf
*.sv     text eol=lf
*.xdc    text eol=lf
*.tcl    text eol=lf
*.c      text eol=lf
*.h      text eol=lf
*.py     text eol=lf
*.md     text eol=lf

# Archivos de proyecto Vivado (mantener binarios)
*.bit    binary
*.bin    binary
*.jou    binary
*.log    text eol=lf
*.xpr    binary

# Imágenes y ejecutables
*.png    binary
*.jpg    binary
*.exe    binary